* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    background: #111111;
    color: #ffffff;
    font-family: Jazz;
    margin-bottom: 2rem;
}

header h1 {
    margin: 1rem;
}

nav ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

form {
    margin: 20px;
}

input {
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    
}

.grafico {
    width: 50rem;
    height: 30rem;
    position: static;
    margin-top: 2rem;
}